@import "normalized.scss";
// 53JS Fonts
@import "fonts/fonts.scss";
// 53JS Variables
@import "variables.scss";
// 53JS Bases
@import "base.scss";
// 53JS Components
// 53JS Partials
@import "partials/header.scss";
@import "partials/footer.scss";

@import "map.scss";

/*
 *      *********
 *      * INBOX *
 *      *********
 *
 *      Place unclassified styles here until reformating
 */

body {
	height:100vh;
}
.header {
	//padding: 50px;
	//background: #57BC90; /* For browsers that do not support gradients */
    //background: -webkit-linear-gradient(right, #77C9D4 , #57BC90); /* For Safari 5.1 to 6.0 */
    //background: -o-linear-gradient(right, #77C9D4, #57BC90); /* For Opera 11.1 to 12.0 */
    //background: -moz-linear-gradient(right, #77C9D4, #57BC90); /* For Firefox 3.6 to 15 */
 	//background: linear-gradient(to right, #77C9D4 , #57BC90); /* Standard syntax */
	h1 {
		color: $color-orange;
	}
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.section {
	position: relative;
	margin: 20px;
}
.section-padding {
	//padding: 65px 80px;
}

.form-title {
	margin-bottom: 30px;
}
.input-text {
	display: inline-block;
	width: 300px;
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
	color: #015249;
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.2);
	margin: 5px 0px 10px;
}
.input-textarea {
	width: 500px;
	height: 200px;
}
.input-file {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 225px;
    padding: 14px 0;
    opacity: 0;
    cursor: pointer;
}
.file label {
    background: #A5A5AF;
    padding: 7px 20px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
    color: #FFFFFF; 
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;

}
.button {
	  display: inline-block;
	  width: 150px;
	  padding: 10px 0;
	  border: 1px solid #018dc4;
	  -webkit-border-radius: 7px;
	  border-radius: 7px;
	  color: #FFFFFF;
	  background: #0199d9;
	  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
}
.table-projects {
	width: 70%;
	margin: auto;
}
.panel-project {
	display: inline-block;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 7px;
	color: #FFFFFF;
	background: #015249;
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
}
.sidebar_room {
	float:left;
	border-right:1px solid black;
	padding:10px;
	overflow:scroll-y;
}
.chat {
	float:left;
	max-width:80%;
	//height:250px;
	overflow:scroll-y;
	padding:10px;
}

#conversation {
	height: 100%;
}

#data {

}

#datasend {

}


/*#77C9D4
#57BC90
#015249
#A5A5AF
#FFFFFF*/