.footer {
	padding: 50px 0;
	background-color: $color-gray-dark;
	color: $color-white;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 3;
	width:	100%;

	.copyright {
		color: #fff;
	}
}

.footer-min {
	padding: 12px 0;
	background-color: $color-gray-dark;
	color: $color-white;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 3;
	width:	100%;

	.copyright {
		color: #fff;
	}
}

.footer-wrapper {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

