<nav class="navbar " id="navigation">
	<ul class="list-inline navbar-nav">
		<li>
			<a href="#" title="Retourner à l'accueil" class="menu-item">Home</a>
		</li>
		<li>
			<a href="#home" title="List Projects" class="menu-item">List Projects</a>
		</li>
		<li>
			<a href="#project" title="Conversation" class="menu-item">Chat</a>
		</li>
		<li>
			<a href="#home/CreateProject" title="" class="menu-item">Form Project</a>
		</li>
		<li>
			<a href="#register" title="" class="menu-item">Form User</a>
		</li>
		<li>
			<a href="#project/map" title="" class="menu-item">Map</a>
		</li>
		<li>
			<a href="#project/repository" title="" class="menu-item">Repository</a>
		</li>
	</ul>
</nav>
