<nav class="navbar " id="navigation">
	<ul class="list-inline navbar-nav">
		<li class="active">
			<a href="index.html" title="Retourner à l'accueil">Home</a>
		</li>
		<li>
			<a href="listProjects.html" title="List Projects">List Projects</a>
		</li>
		<li>
			<a href="project.html" title="">Chat</a>
		</li>
		<li>
			<a href="formProject.html" title="">Form Project</a>
		</li>
		<li>
			<a href="formUser.html" title="">Form User</a>
		</li>
		<li>
			<a href="map.html" title="">Map</a>
		</li>
	</ul>
</nav>
