<nav class="navbar " id="navigation">
	<ul class="list-inline navbar-nav">
		<li class="active">
			<a href="index.html" title="Retourner à l'accueil" class="menu-item">Home</a>
		</li>
		<li>
			<a href="listProjects.html" title="List Projects" class="menu-item">List Projects</a>
		</li>
		<li>
			<a href="project.html" title="Conversation" class="menu-item">Chat</a>
		</li>
		<li>
			<a href="formProject.html" title="" class="menu-item">Form Project</a>
		</li>
		<li>
			<a href="formUser.html" title="" class="menu-item">Form User</a>
		</li>
		<li>
			<a href="map.html" title="" class="menu-item">Map</a>
		</li>
	</ul>
</nav>
