<section class="section home">
	<header class="form-title text-center">
		<h2>Create a project</h2>
	</header>

	<form class="form-createProject">
		<input class="input-text" type="text" name="title" placeholder="title" required=""><br>
		<textarea class="input-text input-textarea" name="desc" placeholder="description"></textarea><br>
		<i>Add some teammates with you, separate their login by ',' please ;)</i><br>
		<input class="input-text" type="text" name="members" placeholder="members login"><br>
		<input class="button" type="submit" name="submit">
	</form>
</section>