<nav class="navbar " id="navigation">
	<ul class="list-inline navbar-nav">
		{% if isConnected %}
			<li>
				<a href="" class="menu-item disconnect">Se deconnecter</a>
			</li>
		{% else %}
			<li>
				<a href="#" class="menu-item">Se connecter</a>
			</li>
		{% endif %}
		{% if currentProject %}
			<li>
				<a href="" class="menu-item disconnect-project">Sortir du projet</a>
			</li>
		{% endif %}
		{% if currentProject %}
			<li>
				<a href="#project" title="Conversation" class="menu-item">Chat</a>
			</li>
			<li>
				<a href="#project/map" title="" class="menu-item">Map</a>
			</li>
			<li>
				<a href="#project/repository" title="" class="menu-item">Repository</a>
			</li>
			<li>
				<a href="#project/visio" title="" class="menu-item">Visio</a>
			</li>

		{% elif isConnected %}
			<li>
				<a href="#home" title="List Projects" class="menu-item">List Projects</a>
			</li>
			
			<li>
				<a href="#home/CreateProject" title="" class="menu-item">Form Project</a>
			</li>
			<li>
				<a href="#register" title="" class="menu-item">Form User</a>
			</li>
		{% else %}
			<li>
				<a href="#" title="Retourner à l'accueil" class="menu-item">Home</a>
			</li>
		{% endif %}
	</ul>
</nav>

<h1 class="header-title">
	PROJECTS MANAGER
</h1>