<section class="section">
	<header class="form-title text-center">
		<h2>User</h2>
	</header>

	<form class="form-register">
		<input class="input-text" type="text" name="login" placeholder="login" required=""><br>
		<input class="input-text" type="email" name="email" placeholder="contact@exemple.org" required=""><br>
		<input class="input-text" type="password" name="password" placeholder="password" required=""><br>
		<input class="input-text" type="text" name="speciality" placeholder="speciality">
		<p class="file">
			<input id="file" class="input-file" type="file" name="photo">
			<label for="file">Upload your image</label>
		</p>
		<input class="button" type="submit" name="submit">
	</form>
</section>