.project {
	.chat {
		max-width:80%;
		height:250px;
		padding:10px;

		.conversation {
			height: 100%;
			overflow:auto;
		}
	}
}


.container-map{
	width: 100%;
	.map{
		width: 100%;
		height: 600px;
	}		
}


.repository {
	.directory {
		cursor: pointer;

		&.icon:before {
			content: "\f114";
			font-family: "FontAwesome";
			size: 30px;
			margin-right: 5px;
			color: blue;
		}
	}

	.file {
		&.icon:before {
			content: "\f016";
			font-family: "FontAwesome";
			size: 30px;
			margin-right: 5px;
			color: blue;
		}

	}

	.delete{
		size: 30px;
		margin-left: 5px;
		color: blue;
	}

	.edit{
		size: 30px;
		margin-left: 5px;
		color: blue;
	}

	&.drag-over{
		background-color: #0275d8;
	}
}

/*    VISIO    */

.visio{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	height: 100%;
	background-color: black;
}

.visio .visio-content{
	position: relative;
	height: 100%;
	text-align:center;
	margin: auto;
}

.visio .visio-content .visio-remote{
	height: 100%;
}

.visio .visio-content .larger-video{
	position: relative;
	height: 100%;
}

.visio .visio-content .larger-video .btn-stop{
	position: absolute;
	left: 0px;
	bottom: 0px;
	margin-bottom: 20px;
	margin-left: 20px;
	z-index: 1;
}

.visio .visio-content .small-video{
	position: absolute;
	width: 25%;
    height: 25%;
	right: 0px;
	bottom: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
}

video{
	height: 100%;
}

@media (max-width: 800px) {
	.visio .visio-content,
	.visio .visio-content .visio-remote,
	.visio .visio-content .larger-video,
	video{
		height: auto;
		width: 100%;
	}

	.visio .visio-content .small-video{
		height: auto;
	}
}

/* Error pages */
.visio-noReply, .visio-rejectCall, .visio-error{
	width: 100%;
	height: 100%;
	text-align: center;
}

.visio-noReply p, .visio-rejectCall p, .visio-error p{
	font-size: 80px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.visio-noReply .btn, .visio-rejectCall .btn, .visio-error .btn{
	width: 200px;
	height: 50px;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 30px
}

/* Spinner */
.loader {
	border: 8px solid #f3f3f3;
	border-radius: 50%;
	border-top: 8px solid #3498db;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 1s linear infinite;
	position: absolute;
	z-index: 1;
	right: 10px;
	top: 10px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} 

.hidden{
	display: none;
}