.project {
	.sidebar_room {
		float:left;
		border-right:1px solid black;
		padding:10px;
		overflow:scroll-y;
	}

	.chat {
		float:left;
		max-width:80%;
		height:250px;
		overflow:scroll-y;
		padding:10px;

		.conversation {
			height: 100%;
		}
	}
}


.container-map{
	width: 100%;
	.map{
		width: 100%;
		height: 600px;
	}		
}


.repository {
	.directory {
		cursor: pointer;

		&.icon:before {
			content: "\f114";
			font-family: "FontAwesome";
			size: 30px;
			margin-right: 5px;
			color: blue;
		}
	}

	.file {
		&.icon:before {
			content: "\f016";
			font-family: "FontAwesome";
			size: 30px;
			margin-right: 5px;
			color: blue;
		}

	}

	.delete{
		size: 30px;
		margin-left: 5px;
		color: blue;
	}

	.edit{
		size: 30px;
		margin-left: 5px;
		color: blue;
	}

	&.drag-over{
		background-color: #0275d8;
	}
}